<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0 Elite">
          Md.Arful
          <span class="text-primary">Islam</span>
        </h1>
        <div class="subheading mb-5">
          <i class="fas fa-address-card"></i> Nasir Tower 8-A · Pollibuddut
          ,Savar, Dhaka, <i class="fas fa-phone-volume"></i> +8801753403590,
          +8801701021983 ·<i class="fas fa-envelope-square"></i>
          <a href="arifcse03@gmail.com"> arifcse03@gmail.com</a>
        </div>
        <p class="lead mb-5">
          I am experienced in angular,django for fullstack development.
        </p>
        <div class="social-icons">
          <a class="social-icon" data-toggle="tooltip"
            data-placement="top"
           title="Find me In LinkedIn" href="https://www.linkedin.com/in/arifcse0323/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a class="social-icon" data-toggle="tooltip"
            data-placement="top"
           title="Check my Github" href="https://github.com/Arifcse03">
            <i class="fab fa-github"></i
          ></a>

          <a class="social-icon" data-toggle="tooltip"
            data-placement="top"
           title="Find me In Facebook" href="https://www.facebook.com/arifcse0323/"
            ><i class="fab fa-facebook-f"></i
          ></a>



            <a
              class="social-icon" data-toggle="tooltip"
            data-placement="top"
           title="Download My CV"
              href="https://drive.google.com/file/d/1Rh4uXuhqMv6hCbelQG-6nO7N9A26_0Dv/view?usp=sharing"
              ><i class="far fa-file"></i
            ></a>

        </div>
      </div>
    </section>
  </body>
</html>
